/*HEADER*/
header {
  position: fixed;
  Top: 0px;
  Left: 0px;
  min-width: 100%;
  background-color: rgb(110,110,153);}

/*NAVIGATION*/
nav {
  position: relative;}

/*LINKS*/
a:hover {
  color: lightBlue;
}
a:active {
  color: tiel;
}

/*BODY*/
body {
  margin-top: 100px;
  font-family: 'Poppins', sans-serif;}

/*aside*/
aside {
  width: 300px;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  background-color: lightgray;}

/*block display*/
span {
  min-width: 50%;
  display: block;}

/*Comments*/
p{  
  color: red;
  text-align: center
  text-decoration: overline
  margin: 2em 3em 2em 3em;}

/*Border*/
p.solid{
  border-style: solid;
  border-color: #999966;
  border-width: 1cm;
  border-raidus: 5px}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}

.grid-container {
  display: grid;
  grid: 100px / auto auto auto;
  grid-gap: 5px;
  background-color: #2196F3;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
}

/*Box Model*/
div{
  background-color: lightgrey;
  max-width: 30%;
  height: 10%;
  border: 0.1in solid hsl(60, 33%, 30%);  
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 3em;
  padding-left: 3em;
  
  margin-top: 2ch;
  margin-bottom: 2ch;
  margin-right: 3ch;
  margin-left: 4ch;}
